.container {
    max-width: 100vw;
    max-height: 100vh;
    background-image: url("../img/background-1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    font-family: 'Roboto', sans-serif;
}

/*Header style*/
.header {
    display: flex;
    justify-content: center;
}

.header-container {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Styling MAILTO*/
a[href^="mailto:"] {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    height: 18px;
}
/*Styling TEL*/
a[href^="tel:"] {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    height: 18px;
}
/*TEL ICON*/
a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}

.logo {
    margin-top: 51px;
    margin-bottom: 23.5px;
}

.logo-style {
    text-decoration: none;
    display: flex;
    width: 180px;
}

.logo-image {
    margin-bottom: 2.5px;
}

.logo-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-left: 8px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.first-text-style {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.email-and-phone {
    width: 220px;
    height: 61px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    margin-top: 46px;
}

.image-hidden {
    position: absolute;
    z-index: -1;
}

.logo:hover .image-hidden {
    position: absolute;
    z-index: 1;
}

.logo:hover .logo-text {
    color: #F26522;
}

.email-style:hover {
    color: #F26522;
}

.phone-style:hover {
    color: #F26522;
}

.main {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-item {
    width: 309px;
    height: 261px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;


    margin-bottom: 37px;
}

.hover-block {
    width: 309px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*Gradient border*/
.image-picture {
    border-width: 4.5px;
    border-left: solid;
    border-right: solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 1)) 1 100%;
    width: 300px;
    height: 220px;
}

.image-item:hover {
    color: #F26522;
}
/*Hover of the orange block*/
.hover-block {
    position: relative;
    overflow: hidden;
}

.image-item .hover-item {
    width: 300px;
    height: 55px;
    position: absolute;
}

.image-item .hover-item {
    background: rgba(242, 101, 34, 1);
    top: 100%;
    transition: 0.5s;
}

.hover-item {
    color: #FFFFFF;
    width: 300px;
    height: 55px;

    display: flex;
    justify-content: space-between;
}

.left-text {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-top: 7px;

    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.euro {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    padding-bottom: 12px;
}

.right-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
    padding-right: 37px;
}

.right-text::after {
    content: url("../img/Vector.png");
    position: relative;
    left: 16px;
}

.image-item:hover .hover-item {
    top: 165px;
    left: 4.5px;
}

/*Footer style*/
.footer {
    display: block;
    text-align: center;
}

.paragraph-copyright {
    font-weight: 400;
    height: 21px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;

    margin-top: 12px;
    margin-bottom: 15px;
}